#first{
text-align: center;
     float: none;
     margin-left: auto;
     margin-right: auto;
     margin-top:16em;
     opacity: 0;
}
#firstValue{
	margin-top: 1em;
	margin-bottom: 1em;
}
.panel{
	margin: 1em;
}
.slider{

}
.sliderVal{

}
#container-fluid{
	float:left;
}
p{
	text-align: center;
}
h4{
	text-align: center;
}
.kugel{
	opacity: 0;
}