.panel{


}
h1{
	text-align: center;
}
.spheres{
	overflow-y:auto;
	max-height: 15em;
}
.list-group{

}
#ActorsPanel{
min-height: 15em;
margin-left: 1em;


}
.row-centered {
    text-align:center;

}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */

}
#SensorsPanel{
min-height: 15em;
margin-right: 1em;


}
#paraGyro{
	display:none;
	padding: 5px;


}
#GyroParaMultiTreshold{
	display:none;
}
#GyroParaSingleTreshold{
	display:none;
}
#GyroParaDirectMapping{
	display:none;
}
#paraCapaz{
	display:none;
	padding: 5px;


}
#CapazParaMultiTreshold{
	display:none;
}
#CapazParaSingleTreshold{
	display:none;
}
#CapazParaDirectMapping{
	display:none;
}
#paraPress{
	display: none;
	padding: 5px;

}
#paraVibration{
	display:none;
	padding: 5px;
}
#paraLights{
	display:none;
	width:20%;
	padding: 5px;
}
#buttons{
	/*margin-top: 250px;*/
	text-align: center;
}
.toggle{
	width:10em !important;
}
#LightsColor{
	display:none;
}
#results{
	text-align: center;
	margin-left: auto;
	margin-right: auto;float: none;
	margin-top: 2em;
	width: 80%;
}
