<html>
<head></head>
<body>
	<h1>Kugel 1</h1>
	<form id="tableForm" action="/getJson" method="post">
    <select class="selectpicker" data-style="btn-info" name="selectpicker">
        <optgroup label="Select Table">
            <option name="" value="0">Select table</option>
            <option name="table1" value="R">Red</option>
            <option name="table2" value="G">Green</option>
            <option name="table3" value="B">Blue</option>
        </optgroup>
    </select>
    <input type="submit" />
</form>
<h2>Gyro</h2>
<p id="k1Gyro"></p>
	<h1>Kugel 2</h1>
	<form id="tableForm" action="/getJson2" method="post">
    <select class="selectpicker2" data-style="btn-info" name="selectpicker2">
        <optgroup label="Select Table">
            <option name="" value="0">Select table</option>
            <option name="table1" value="R">Red</option>
            <option name="table2" value="G">Green</option>
            <option name="table3" value="B">Blue</option>
        </optgroup>
    </select>
    <input type="submit" />
</form>
<h2>Gyro</h2>
<p id="k2Gyro"></p>
<script>
var k1Gyro="<%= k1Gyro %>";
document.getElementById("k1Gyro").innerHTML = k1Gyro;
var k2Gyro="<%= k2Gyro %>";
document.getElementById("k2Gyro").innerHTML = k2Gyro;
</script>
</body>
</html>