<div class="container-fluid">"
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4> Kugel 1</h4>
					<p>Pressure</p>
					<div class="col-md-10">
						<input class="slider"  type="range" min="0" max="255" step="1" />
					</div>
					<div class="col-md-1">
						<p class="sliderVal">4</p>
					</div>
					<p>Gyro</p>
					<div class="col-md-10">
						<input class="slider"  type="range" min="0" max="255" step="1" />
					</div>
					<div class="col-md-1">
						<p class="sliderVal">4</p>
					</div>
					<div class="col-md-10">
						<input class="slider"  type="range" min="0" max="255" step="1" />
					</div>
					<div class="col-md-1">
						<p class="sliderVal">4</p>
					</div>
					<div class="col-md-10">
						<input class="slider"  type="range" min="0" max="255" step="1" />
					</div>
					<div class="col-md-1">
						<p class="sliderVal">4</p>
					</div>
					<p>Acceleration</p>
					<div class="col-md-10">
						<input class="slider"  type="range" min="0" max="255" step="1" />
					</div>
					<div class="col-md-1">
						<p class="sliderVal">4</p>
					</div>
					<div class="col-md-10">
						<input class="slider"  type="range" min="0" max="255" step="1" />
					</div>
					<div class="col-md-1">
						<p class="sliderVal">4</p>
					</div>
					<div class="col-md-10">
						<input class="slider"  type="range" min="0" max="255" step="1" />
					</div>
					<div class="col-md-1">
						<p class="sliderVal">4</p>
					</div>
					<p>Capacity</p>
					<div class="col-md-10">
						<input class="slider"  type="range" min="0" max="255" step="1" />
					</div>
					<div class="col-md-1">
						<p class="sliderVal">4</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>";